<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eCommerceEntities" connectionString="metadata=res://*/ShopEF.csdl|res://*/ShopEF.ssdl|res://*/ShopEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LKLUDO8;initial catalog=eCommerce;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>