@model WebApiService.Models.Product

@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>
@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ProductId)
    @Html.EditorFor(m => m.Name)
}
<div>
    @Html.ActionLink("Back to List", "GetAllProducts")
</div>